body {
    background: #000;
    color: #030303;
    font-family: sans-serif;
    background-image: url(https://source.unsplash.com/weekly?sunset);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .nav {
    padding: 2%;
    cursor: pointer;
    color: #eee;
  }
  .logo {
    font-size: 1.5em;
    display: inline;
    font-weight: bold;
  }
  .nav ul {
    list-style: none;
    float: right;
    font-size: 0.8em;
    margin: 0;
    text-transform: uppercase;
    margin-top: 5px;
  }
  .nav ul li {
    display: inline;
    padding: 0 30px;
    letter-spacing: 1px;
  }
  
  .hero {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 100px 0;
    flex-wrap: wrap;
  }
  .title {
    font-size: 7em;
    text-align: center;
    width: 100%;
    font-family: serif;
    font-weight: bold;
  }
  .title::before {
    /*content: "Have Sum Fun";*/
    font-size: 10px;
    letter-spacing: 1.8px;
    font-weight: bold;
    text-align: center;
    color: #eee;
    display: block;
    text-transform: uppercase;
    margin-bottom: -5px;
  }
  .button {
    background: #ff4c54;
    padding: 18px 29px;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    margin-top: 3%;
    cursor: pointer;
  }
  i {
    color: black;
  }
  .main {
    position: absolute;
    bottom: 0;
    margin: 0 2%;
    width: 95%;
    background: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.4% 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .main input {
    border: none;
    border-bottom: 2px solid #ff4c54;
    font-size: 1.4em;
    font-weight: bold;
  }
  .date {
    padding: 5px;
    font-weight: bold;
    color: gray;
    border: 1px solid #828282;
  }
  .date span {
    margin: 5px;
  }
  .date span:first-of-type {
    border-right: 1px solid #828282;
  }
  
  .go {
    background: lightgreen;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    right: -17px;
    transition: all 0.5s ease-in-out;
    transform: rotate(12deg);
    color: #eee;
    font-size: 1.5em;
  }
  






  /*****************
General
******************/


html, body {
    height: 100%;
    margin: -20px 0 0 0;
    color: white; 
  }
  
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  
  a:hover {
    color: #A99FA1;
  }
  
  
  
  /*****************
  Header 
  ******************/
  
  header {
    float: left;
    background: #3f282d;
    border-bottom: 2px solid #382428;
    padding: 25px 0;
    width: 100%;
    font-family: 'Lato', sans-serif;
  }
  
  
  /* Logo */
  
  .logo {
    float: left;
    text-align: left;
    margin-left: 5%;
    font-size: 28px;
  }
  
  
  /* Navigation */
  
  nav {
    float: right;
    text-align: right;
    margin-right: 2%;
  }
  
  
  nav ul {
    list-style: none;
    margin: 0;
    padding-top: 8px;
  }
  
  
  nav li {
    display: inline-block;
    padding: 0 8px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
  }
  
  
  nav a {
    padding: 15px 10px;
  }
  
  
  
  /*****************
  Section 
  ******************/
  
 
  
  #submit {
    height: 50px;
    width: 220px;
    background: #BA4662;
    color: inherit;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    letter-spacing: 3px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background .3s ease-in-out;
  }
  
  
  #submit:hover {
    background: #AE3C58;
  }
  
  input:focus {
    outline: none;
    border: 2px solid #BA4662;
    box-shadow: 0 0 10px #BA4662;
  }
   